<!-- 
    This is the home page of the system. Includes welcome message and 
    3 functional buttons: 1. check status, 2. continue order, 3. make 
    new order. For the first two function the page will ask user for
    order ID, and display appropiate error msg if input is invalid.
-->

{% extends 'base.html' %}
{% block body %}

<h1>Welcome to Memberless Restaurant!!( ͡° ͜ʖ ͡°)</h1>
What would you like to do?
<form method="POST">
    <input type="submit" name="action" value="Check Status">
    <input type="submit" name="action" value="Continue my order">
    <input type="submit" name="action" value="Make New Order">

</form>

<form method="POST">
    <br/><br/>
    {% if checkStatus == True %}
        Order ID: <input name='id' placeholder='Your order ID' value="{{request.form['id']}}"><br />
        <font size="3" color="red">{{error}}</font><br />
        <input type="submit" name='furtherAction' value="Check My Order!">

    {% elif continueOrder == True %}
        Order ID: <input name='id' placeholder='Your order ID' value="{{request.form['id']}}"><br />
        <font size="3" color="red">{{error}}</font><br />
        <input type="submit" name="furtherAction" value="Continue My Order!">
        
    {% endif %}
</form>

{% endblock %}