{% extends 'base.html' %}

{% block body %}
<h2>{{food.name}}</h2>

<form method="POST">
	{% for a in food.addOn %}
		{{a}}:
		{% if a == "Buns" %}
			<select name={{a}}>
				{% for i in [2, 3, 4] %}
					<option value={{i}}>{{i}}</option>
				{% endfor %}
			</select>

		{% else %}
			<input name={{a}} placeholder="Please insert integer">

		{% endif %}

		<input type="submit" name="add" value="Add {{a}}"/><br/>
		<br/>
	{% endfor %}

	<br/>
	Ingredients:
	<select name='ingredients'>
		{% for i in food.ingredientsMenu.keys() %}
			<option value={{i}}>{{i}} ${{food.ingredientsMenu[i]}}</option>
		{% endfor %}
	</select>
	<br/><br/>
	Quantity:
	<input name="quantity" placeholder="Please insert integer"/>
	<input type="submit" name="addIngredients" value="Add Ingredients"/>
	<br/><br/>

	{% if finish == True%}
		Thank you for ordering {{food}}! You can return to menu now :D<br/>
		<input type="submit" name="return" value="Return to Menu"/>
	{% else %}
		You have ordered:<br />
		{% for i in orderedItem.keys() %}
			{{i}} * {{orderedItem[i]}}<br />
		{% endfor %}
		<br />




		<input type="submit" name="confirm" value="Confirm"/>
		<input type="submit" name="cancel" value="Cancel"/>
	{% endif %}
</form>
{% endblock %}



